<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
</head>
<body>
    <div id="app">
        <!-- v-for数据渲染 -->
        <!-- :key设置数据的唯一标识 -->
        <p v-for="(item, index) in strList" :key="index">{{ index }}:{{ item }}</p>
        <hr>
        <p v-for="(value, key, index) in shenAo" :key="index">{{ index }}:{{ key }}:{{ value }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                strList: ["str-1", "str-2", "str-3"],
                shenAo: {
                    name: "XDXZ",
                    age: 23,
                    sex: "man"
                }
            },
            methods: {
                
            }
        });
    </script>
</body>
</html>