@font-face {
  font-family: "iconfont"; /* Project id 4851456 */
  src: url('iconfont.woff2?t=1741520277062') format('woff2'),
       url('iconfont.woff?t=1741520277062') format('woff'),
       url('iconfont.ttf?t=1741520277062') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 100px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danbaifen:before {
  content: "\101ea";
}

.icon-bingpingqiu:before {
  content: "\101eb";
}

.icon-nanbeixin:before {
  content: "\101ec";
}

.icon-duanku:before {
  content: "\101ed";
}

